PROJECT_ID=nextjs-storage-bucket
CLIENT_EMAIL=storage-bucket@nextjs-storage-bucket.iam.gserviceaccount.com
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour-key-here-keep-the-quotes\n-----END PRIVATE KEY-----\n"
BUCKET_NAME=my-bucket